<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us Today</span>
            <h2 class="cs-title">Get a Free Quote!</h2>
            <p class="cs-text">
                Affordable Plumbing Solutions – Finance Your Repairs with Low Monthly Payments for Services Over $700!
            </p>
            <a href="#" class="cs-button-solid">Learn More</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/og_image.png">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/og_image.png">
        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/og_image.png" alt="og_image" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                