<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us Today</span>
            <h2 class="cs-title">Affordable Plumbing Solutions</h2>
            <p class="cs-text">
                  Finance Your Repairs with Low Monthly Payments for Services Over $700!
            </p>
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNjE5MzgmbD0mcD1JMlZlYnJjaDRaRUFvbUd6bkgtUDJnJnM9MCZ2PTE=/apply?slug=WjM1yQ" target="_blank" class="cs-button-solid">Learn More</a>
        </div>
    </div>
    <!-- Background Image-->
    <!-- <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/og_image.jpg">
        <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/og_image.jpg">
        <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/og_image.jpg" alt="og_image" width="1920" height="1280" aria-hidden="true">
    </picture> -->
</section>
                                