<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us Today</span>
            <h2 class="cs-title">Get a Free Quote!</h2>
            <p class="cs-text">
                Experience safe, reliable, and efficient plumbing and gasfitting services in Edmonton. Call 587-340-4059 today to book your service.
            </p>
            <a href="tel:587-340-4059" class="cs-button-solid">Book Your Service Now</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/CTA/cabinets.jpg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>
                                