<!-- ============================================ -->
<!--                 Ronald Sponsorship            -->
<!-- ============================================ -->

<section id="sponsor-card" class="">
  <h3 class="cs-h3">Community Initiatives</h3>
  <div class="sponsorship">
    <div class="logo-images">
      <picture class="cs-picture">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/BenefitingLogo_FullColour.png"
          height="80"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/BenefitingLogo_FullColour.png"
        />
        <img
          decoding="async"
          src="/assets/images/BenefitingLogo_FullColour.png"
          alt="Ronald Mcdonald logo"
          height="80"
          aria-hidden="true"
        />
      </picture>
    </div>

    <!-- Review Rating Section -->
    <div class="content">
      <h4 class="cs-title">
        3% of all profits are donated to the Ronald McDonald House Charities
        Alberta.
      </h4>

      <p class="cs-text">
        ®RMHC Alberta supports families seeking vital medical treatment for
        their seriously sick or injured child.
      </p>

      <a
        href="https://rmhcalberta.org/"
        target="_blank"
        rel="noopener noreferrer"
        class="cs-button-solid"
        >Learn more</a
      >
    </div>
  </div>
</section>
