<div class="sticky-div">
  <a href="tel:{{ client.phoneForTel }}" class="cs-button-solid sticky-button"
    >Call Today - {{ client.phoneFormatted }}
  </a>
</div>

<style>
  .sticky-div {
    position: fixed;
    bottom: 8px;
    width: 100%;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50%);
    z-index: 100;
    transition:
      transform 200ms ease-in,
      visibility 200ms ease-in,
      opacity 200ms ease-in;
  }
  .cs-button-solid.sticky-button {
    margin: auto;
    border-radius: 70px;
    background-color: var(--secondary);
  }

  body.scroll .sticky-div {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
</style>
