---
title: "About | KMS Pumbling"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'about/'
eleventyNavigation:
    key: 'About'
    order: '200'
---

{% block head %}
<link rel="stylesheet" href="{{ client.domain }}/assets/css/about.css">

<!--          Blaze Assets        -->
<link rel="stylesheet" href="{{ client.domain }}/assets/css/blaze.css">
<script src="{{ client.domain }}/assets/js/blaze-slider.dev.js"></script>

{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about/" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
            srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
            srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg"
            alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1014">
    <div class="cs-container">
        <!-- Left Image Section -->
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/about_rightimage.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about_rightimage.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about_rightimage.webp" alt="Truck Van"
                    width="522" height="581" aria-hidden="true">
            </picture>
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="/assets/images/about_leftimage.webp">
                <source media="(min-width: 601px)" srcset="/assets/images/about_leftimage.webp">
                <img loading="lazy" decoding="async" src="/assets/images/about_leftimage.webp" alt="Plumber"
                    width="414" height="400" aria-hidden="true">
            </picture>
        </div>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Who We Are</h2>
            <p class="cs-text">
                Founded in 2012, KMS Plumbing & Gasfitting Ltd is an owner-operated provider of plumbing, drain
                cleaning, and gasfitting services in the Edmonton area. We strive to provide exceptional customer
                service and quality workmanship at a fair price. We are dedicated to providing a seamless and
                hassle-free service experience with prompt communication, professional service, and upfront pricing.
            </p>


        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">SAVE $75 on any plumbing service!</h2>
            <a href="/coupons/" target="_blank" class="cs-button-solid">AVAIL</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Collabs                    -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Experience the KMS Difference</span>
            <h2 class="cs-h3">Association & Memberships</h2>
        </div>
        <div class="trust-signals">
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/red-seal-certified.png" alt="red-seal-certified"
                         height="79">
                </picture>
                <p class="cs-text">Red Seal Certified Plumber & Gasfitter</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/fully-insured.png" alt="fully-insured"
                         height="79">
                </picture>
                <p class="cs-text">Fully Insured</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/service-warranty.png" alt="service-warranty"
                         height="79">
                </picture>
                <p class="cs-text">1 Year Service Warranty</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/edmonton-chamber-logo.png" alt="edmonton-chamber-logo"
                         height="79">
                </picture>
                <p class="cs-text">Edmonton Chamber of Commerce Certification</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/mcaa-logo.png" alt="mcaa-logo"
                         height="79">
                </picture>
                <p class="cs-text">Mechanical Contractors Association of Alberta</p>
            </div>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">We offer financing on any plumbing/heating installation and home renovation
                projects starts from $700
            </h2>
            <a href="https://www.financeit.io" target="_blank" class="cs-button-solid">AVAIL</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1833">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Members Testimonials</h2>
        </div>
        <div class="blaze-slider">
            <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”We worked with Jack at KMS when we had our basement contracted. He did all the
                                        plumbing for our basement bathroom. He provides high quality work and very
                                        pleasant to work with. When we had an issue, he came out same day and kept in
                                        contact with me to ensure it got completed. He even followed up to ensure all
                                        was working well. I would hire again.”
                                    </p>
                                    <span class="cs-name">Miles McMillan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”Jack installed a new faucet and some upgraded sink components for us; the
                                        service and workmanship were fantastic. He was very thorough in assessing our
                                        needs/expectations prior to the job; the customer service was excellent
                                        throughout our experience. I highly recommend KMS Plumbing.”
                                    </p>
                                    <span class="cs-name">Dave O.</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”I just had my hot water tank replacement completed by Jack Kumar of KMS
                                        Plumbing & Gas fitting. Prior to this job, Jack had replaced a toilet for us and
                                        completed a hot water tank replacement for a senior friend of ours. As usual,
                                        Jack is on time and professional. His workmanship is great. Housekeeping is
                                        excellent. Pricing is reasonable. Thanks for your service Jack.”
                                    </p>
                                    <span class="cs-name">Alex Chan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blaze-nav">
                    <div class="blaze-pagination"></div>
                </div>
            </div>
        </div>
        <!--Slider Initialization Script-->
        <script>
            const el = document.querySelector('.blaze-slider')
            new BlazeSlider(el)
        </script>
        <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank">See More Reviews</a>
    </div>
    <!--Texture Graphic-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
        <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture"
            width="1920" height="600">
    </picture>
</section>

<!-- ============================================ -->
<!--              Secondary Banner                -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Free Estimates & No Tripping Charges | Financing Available!</h2>
            <a href="{{ client.domain }}/contact/" class="cs-button-solid">Contact Us Now!</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Team                      -->
<!-- ============================================ -->



{% include "components/cta.html" %}
{% include "components/sticky-button.html" %}


{% endblock %}