---
title: "About | KMS Pumbling"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'about/'
eleventyNavigation:
    key: 'About'
    order: '200'
---

{% block head %}
    <link rel="stylesheet" href="{{ client.domain }}/assets/css/about.css">

    <!--          Blaze Assets        -->
    <link rel="stylesheet" href="{{ client.domain }}/assets/css/blaze.css">
    <script src="{{ client.domain }}/assets/js/blaze-slider.dev.js"></script>

{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106-1112">
        <div class="cs-container">
            <span class="cs-int-title">About Us</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/about/" class="cs-link cs-active">About Us</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
        </picture>
    </div> 

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-1014">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast1.jpg" alt="breakfast" width="522" height="581" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Food-Menu/breakfast2.jpg" alt="breakfast" width="414" height="400" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Who We Are</h2>
                <p class="cs-text">
                    KMS Plumbing & Gasfitting is a trusted local company in Edmonton, Alberta, proudly owned and operated by Jack Kumar, a Red Seal-certified plumber and gasfitter with over 15 years of industry experience. We specialize in safe, reliable, and efficient plumbing and gasfitting services designed to protect your home and family.
                </p>
                <div class="cs-quote">
                    <span class="cs-quote-text">
                        Our mission is to empower local businesses by offering [service/products] that enhance their visibility, boost sales, and create long-lasting customer relationships.
                    </span>
                    <span class="cs-name">Our Mission</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <div class="cs-quote">
                    <span class="cs-quote-text">
                        We are committed to excellence, innovation, and integrity. We believe in delivering value, fostering strong relationships, and ensuring every project we undertake meets the highest standards of quality.
                    </span>
                    <span class="cs-name">Core Values</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
            </div>
        </div>
    </section>
          
    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="why-choose-1657">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Our Specialty</span>
                    <h2 class="cs-title">Why Choose Us?</h2>
                </div>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-number">Quality & Expertise</span>
                        <p class="cs-li-text">
                            Backed by 15+ years of experience, we deliver dependable workmanship and unparalleled customer service.
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">Client Education:</span>
                        <p class="cs-li-text">
                            We empower homeowners with knowledge to maintain and prolong their plumbing systems' efficiency.
                        </p>
                    </li>
                    <li class="cs-li">
                        <span class="cs-number">Safety First</span>
                        <p class="cs-li-text">
                            Your household’s safety is our #1 priority, and we follow strict safety standards to ensure peace of mind.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="cs-wrapper">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting12.jpg" alt="meeting" width="630" height="414">
                </picture>

                <p class="cs-review">
                    <svg class="cs-quote" preserveAspectRatio="none" viewBox="0 0 100 93" fill="none" xmlns="http://www.w3.org/2000/svg" preser>
                        <g opacity=".4" clip-path="url(#a)" fill="var(--quoteColor)"><path d="M22.94 84H0L18.305.854H55L22.94 84ZM67.94 84H45L63.305.854H100L67.94 84Z"/></g>
                        <defs>
                            <clipPath id="a-1657"><path fill="#fff" transform="translate(0 .854)" d="M0 0h100v83.146H0z"/></clipPath>
                        </defs>
                    </svg>
                    <strong>Our Commitment to Safety</strong><br>
                    We exceed industry standards by:<br>
                    <ul>
                        <li>Using high-quality materials and secure licensed subcontractors</li>
                        <li>Conducting hazard assessments to identify and mitigate potential risks (e.g., asbestos, electrical hazards)</li>
                        <li>Adhering to the latest safety protocols, including the National Plumbing Code (NPC 2019) and WHMIS regulations</li>
                        <li>Utilizing PPE and maintaining safe work practices on every job</li>
                    </ul>
                </p>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    <section id="reviews-1833">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Members Testimonials</h2>
            </div>
            <div class="blaze-slider">
                <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                    <div class="blaze-slide">
                        <div class="cs-flex-group">
                            <div class="cs-review-group">
                                <!--Stars-->
                                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                                <p class="cs-review-text">
                                    ”Great gym! A new gym with modern equipment and facilities makes training so much easier. Always willing to help you with your training”
                                </p>
                                <span class="cs-name">Britney Allison</span>
                                <span class="cs-job">Founder of Yokoloko</span>
                                <!--Quote-->
                                <img class="cs-quote" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                    <div class="blaze-slide">
                        <div class="cs-flex-group">
                            <div class="cs-review-group">
                                <!--Stars-->
                                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                                <p class="cs-review-text">
                                    ”Great gym! A new gym with modern equipment and facilities makes training so much easier. Always willing to help you with your training”
                                </p>
                                <span class="cs-name">Britney Allison</span>
                                <span class="cs-job">Founder of Yokoloko</span>
                                <!--Quote-->
                                <img class="cs-quote" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                    <div class="blaze-slide">
                        <div class="cs-flex-group">
                            <div class="cs-review-group">
                                <!--Stars-->
                                <img class="cs-stars" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                                <p class="cs-review-text">
                                    ”Great gym! A new gym with modern equipment and facilities makes training so much easier. Always willing to help you with your training”
                                </p>
                                <span class="cs-name">Britney Allison</span>
                                <span class="cs-job">Founder of Yokoloko</span>
                                <!--Quote-->
                                <img class="cs-quote" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg" alt="quotes" width="97" height="80" aria-hidden="true">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="blaze-nav">
                    <div class="blaze-pagination"></div>
                </div>
                </div>
            </div>
            <!--Slider Initialization Script-->
            <script>
                const el = document.querySelector('.blaze-slider')
                new BlazeSlider(el)
            </script>
            <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank">See More Reviews</a>
        </div>
        <!--Texture Graphic-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 1023px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 1024px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture" width="1920" height="600">
        </picture>
    </section> 

    <!-- ============================================ -->
    <!--                    Team                      -->
    <!-- ============================================ -->

    <section id="meet-team-2071">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Meet The Team Behind Bespoke Web Design</h2>
                <p class="cs-text">
                    Our team is made up of experienced professionals who are passionate about helping businesses succeed. From our lead designer, [Name], to our project manager, [Name], we work collaboratively to bring your vision to life.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-name">Dr. Ronald Richards</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Cameron Williamson</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Brooklyn Simmons</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Savannah Nguyen</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Albert Flores</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Eleanor Pena</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Dianne Russell</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-name">Dr. Darlene Robertson</span>
                    <div class="cs-flex">
                        <span class="cs-job">Dental Surgeon</span>
                        <span class="cs-department">Cosmetic and Aesthetic Dentistry</span>
                    </div>
                </li>
            </ul>
        </div>
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist-staff.jpeg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist-staff.jpeg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dentist-staff.jpeg" alt="dentist staff" width="1024" height="894">
        </picture>
    </section>

{% include "components/cta.html" %}

                                
{% endblock %}