---
title: "Blog | KMS Plumbing & Gasfitting"
description: "The classic CodeStitch blog, controlled by Decap CMS. Lists all blog posts and provides an option to 'feature' posts to a sidebar"
permalink: 'blog/'
eleventyNavigation:
    key: 'Blog'
    order: '600'
---
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">

<!--          Blaze Assets        -->
<link rel="stylesheet" href="/assets/css/blaze.css">
<script src="/assets/js/blaze-slider.dev.js"></script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Blog</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/blog/" class="cs-link cs-active">Blog</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div> 

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">
                        <!--Main Article Image-->
                        <picture class="blog-mainImage">
                            <img
                            src="{{ post.data.image }}"
                            alt="{{ post.data.imageAlt }}"
                            width="795"
                            height="400"
                            decoding="async" />
                        </picture>
                        <!--Article Info-->
                        <div class="article-group">
                            <div class="blog-authorGroup">
                                <!--Author Image-->
                                <picture class="blog-author-img">
                                    <img
                                    src="{{ client.domain }}/assets/images/main_logo.png"
                                    alt="Team KMS"
                                    width="32"
                                    height="32"
                                    decoding="async" />
                                </picture>
                                <span class="blog-author">{{ post.data.author }}</span>
                                <span aria-hidden="true" class="blog-dot"></span>
                                <!--Blog Date-->
                                <span class="blog-date">{{ post.date | formatDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                {{ post.data.title }}
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="blog-link">Continue Reading</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

        {% include 'components/featured-post.html' %}
    </div>


    <section id="reviews-1833">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Testimonials</span>
                <h2 class="cs-title">Our Members Testimonials</h2>
            </div>
            <div class="blaze-slider">
                <div class="blaze-container">
                    <div class="blaze-track-container">
                        <div class="blaze-track">
                            <div class="blaze-slide">
                                <div class="cs-flex-group">
                                    <div class="cs-review-group">
                                        <!--Stars-->
                                        <img class="cs-stars" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                            alt="quotes" width="97" height="80" aria-hidden="true">
                                        <p class="cs-review-text">
                                            ”We worked with Jack at KMS when we had our basement contracted. He did all the
                                            plumbing for our basement bathroom. He provides high quality work and very
                                            pleasant to work with. When we had an issue, he came out same day and kept in
                                            contact with me to ensure it got completed. He even followed up to ensure all
                                            was working well. I would hire again.”
                                        </p>
                                        <span class="cs-name">Miles McMillan</span>
                                        <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                        <!--Quote-->
                                        <img class="cs-quote" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                            alt="quotes" width="97" height="80" aria-hidden="true">
                                    </div>
                                </div>
                            </div>
                            <div class="blaze-slide">
                                <div class="cs-flex-group">
                                    <div class="cs-review-group">
                                        <!--Stars-->
                                        <img class="cs-stars" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                            alt="quotes" width="97" height="80" aria-hidden="true">
                                        <p class="cs-review-text">
                                            ”Jack installed a new faucet and some upgraded sink components for us; the
                                            service and workmanship were fantastic. He was very thorough in assessing our
                                            needs/expectations prior to the job; the customer service was excellent
                                            throughout our experience. I highly recommend KMS Plumbing.”
                                        </p>
                                        <span class="cs-name">Dave O.</span>
                                        <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                        <!--Quote-->
                                        <img class="cs-quote" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                            alt="quotes" width="97" height="80" aria-hidden="true">
                                    </div>
                                </div>
                            </div>
                            <div class="blaze-slide">
                                <div class="cs-flex-group">
                                    <div class="cs-review-group">
                                        <!--Stars-->
                                        <img class="cs-stars" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                            alt="quotes" width="97" height="80" aria-hidden="true">
                                        <p class="cs-review-text">
                                            ”I just had my hot water tank replacement completed by Jack Kumar of KMS
                                            Plumbing & Gas fitting. Prior to this job, Jack had replaced a toilet for us and
                                            completed a hot water tank replacement for a senior friend of ours. As usual,
                                            Jack is on time and professional. His workmanship is great. Housekeeping is
                                            excellent. Pricing is reasonable. Thanks for your service Jack.”
                                        </p>
                                        <span class="cs-name">Alex Chan</span>
                                        <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                        <!--Quote-->
                                        <img class="cs-quote" loading="lazy" decoding="async"
                                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                            alt="quotes" width="97" height="80" aria-hidden="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blaze-nav">
                        <div class="blaze-pagination"></div>
                    </div>
                </div>
            </div>
            <!--Slider Initialization Script-->
            <script>
                const el = document.querySelector('.blaze-slider')
                new BlazeSlider(el)
            </script>
            <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank">See More Reviews</a>
        </div>
        <!--Texture Graphic-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 1023px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 1024px)"
                srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
            <img loading="lazy" decoding="async"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture"
                width="1920" height="600">
        </picture>
    </section>

<!-- ============================================ -->
<!--              Secondary Banner                -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Free Estimates & No Tripping Charges</h2>
            <a href="{{ client.domain }}/contact/" class="cs-button-solid">Contact Us Now!</a>
        </div>
    </div>
</section>

{% endblock %}
