---
title: "Coupons"
description: "The classic CodeStitch blog, controlled by Decap CMS. Lists all blog posts and provides an option to 'feature' posts to a sidebar"
permalink: 'coupons/'
eleventyNavigation:
    key: 'Coupons'
    order: '500'
---
{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">

<!--          Blaze Assets        -->
<link rel="stylesheet" href="/assets/css/blaze.css">
<script src="/assets/js/blaze-slider.dev.js"></script>
{% endblock %}
{% from "components/coupons.html" import renderCoupons %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<section id="coupons" >
    {{ renderCoupons(coupons) }}
</section>

{# <section id="coupons-section"> #}
{# </section> #}


<!-- ============================================ -->
<!--              Secondary Banner                -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Get financing for any plumbing, heating installation, or home renovation project starting at just $700.</h2>
            <a href="{{ client.domain }}/contact/" class="cs-button-solid">Contact Us Now!</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   KMS Badges                 -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Experience the KMS Difference</span>
            <h2 class="cs-h3">Association & Memberships</h2>
        </div>
        <div class="trust-signals">
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/red-seal-certified.png" alt="red-seal-certified"
                         height="79">
                </picture>
                <p class="cs-text">Red Seal Certified Plumber & Gasfitter</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/fully-insured.png" alt="fully-insured"
                         height="79">
                </picture>
                <p class="cs-text">Fully Insured</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/service-warranty.png" alt="service-warranty"
                         height="79">
                </picture>
                <p class="cs-text">1 Year Service Warranty</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/edmonton-chamber-logo.png" alt="edmonton-chamber-logo"
                         height="79">
                </picture>
                <p class="cs-text">Edmonton Chamber of Commerce Certification</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/mcaa-logo.png" alt="mcaa-logo"
                         height="79">
                </picture>
                <p class="cs-text">Mechanical Contractors Association of Alberta</p>
            </div>
        </div>
    </div>
</section>


{% include "components/cta.html" %}


{% endblock %}
