---
title: "Financing | KMS Plumbing & Gasfitting Ltd."
description: |
  KMS Plumbing & Gasfitting Ltd. – Providing efficient, reliable plumbing,
  heating, and gas services with 15+ years of experience.
  Trusted solutions for homes and businesses in Edmonton.
  Additional functionality. Similar to our Intermediate Kits.
permalink: "financing/"
---

{% block head %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta
  property="og:image"
  content="{{ client.domain }}/assets/images/og_image.jpg"
/>

{% endblock %} {% extends 'layouts/base.html' %} {% block body %}
<style>
    body{
        display: none;
    }
</style>




{% endblock %}
