---
title: "Gasfitting | KMS Plumbing & Gasfitting Ltd."
description: "KMS Plumbing & Gasfitting Ltd. – Providing efficient, reliable plumbing, heating, and gas services with 15+ years of experience. Trusted solutions for homes and businesses in Edmonton."
permalink: 'services/gasfitting/'
eleventyNavigation:
    key: 'Gasfitting'
    order: '3200'
    parent: 'Services'
---


{% block head %}
    <link rel="stylesheet" href="/assets/css/services.css">
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Gasfitting</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/services/gasfitting/" class="cs-link cs-active">Gasfitting</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div> 

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">SAVE $75 on any plumbing service!</h2>
            <a href="/coupons/" target="_blank" class="cs-button-solid" style="white-space: nowrap;">Get Coupons now!</a>
    </div>
</section>


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-218">
    <div class="cs-container">
        <img class="cs-bg-image" aria-hidden="true" src="/assets/images/banner_image.jpg" alt="">
        <div class="cs-content">
            <span class="cs-topper">Committed to Safety and Reliable Service</span>
            <h2 class="cs-title">Gasfitting Services</h2>
            <p class="cs-text">
                We provide expert gasfitting services, ensuring safe and efficient installation, maintenance, and repairs for residential and commercial properties.
            </p>
            <a href="/contact.html" class="cs-button-solid">Get Free Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/services/gasfitting/gas-line-install.png" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Gas Line Installation</h3>
                <p class="cs-item-text">
                    Safe and efficient gas line setup for your home.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="/assets/images/services/gasfitting/garage-heaters.png" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Garage Heaters</h3>
                <p class="cs-item-text">
                    Installation and maintenance of garage heating systems to keep your space warm and functional.
                </p>
            </li>
           
        </ul>
    </div>
</section>
                                
          
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Our Expertise in Plumbing & Gasfitting</h2>
            <p class="cs-text">
                Explore some of our past projects that highlight our commitment to quality workmanship, attention to detail, and customer satisfaction. Let us handle your plumbing and gasfitting needs so you can focus on what matters most.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gasfitting1.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gasfitting1.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gasfitting1.jpg" alt="Gas Installation1" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gasfitting-2.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gasfitting-2.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gasfitting-2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery3.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery3.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery4.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery4.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery5.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery5.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery6.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery6.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery7.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery7.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery8.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery8.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery8.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 9-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery9.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery9.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery9.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 10-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery10.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery10.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery10.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 11-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery11.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery11.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery11.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 12-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery12.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery12.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery12.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
 
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Book Now, Pay Later. Flexible financing options available
            </h2>
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNjE5MzgmbD0mcD1JMlZlYnJjaDRaRUFvbUd6bkgtUDJnJnM9MCZ2PTE=/apply?slug=WjM1yQ" target="_blank" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                   KMS Badges                 -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Experience the KMS Difference</span>
            <h2 class="cs-h3">Association & Memberships</h2>
        </div>
        <div class="trust-signals">
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/red-seal-certified.png" alt="red-seal-certified"
                         height="79">
                </picture>
                <p class="cs-text">Red Seal Certified Plumber & Gasfitter</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/fully-insured.png" alt="fully-insured"
                         height="79">
                </picture>
                <p class="cs-text">Fully Insured</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/service-warranty.png" alt="service-warranty"
                         height="79">
                </picture>
                <p class="cs-text">1 Year Service Warranty</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/edmonton-chamber-logo.png" alt="edmonton-chamber-logo"
                         height="79">
                </picture>
                <p class="cs-text">Edmonton Chamber of Commerce Certification</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/mcaa-logo.png" alt="mcaa-logo"
                         height="79">
                </picture>
                <p class="cs-text">Mechanical Contractors Association of Alberta</p>
            </div>
        </div>
    </div>
</section>
</section>

<!-- ============================================ -->
<!--              Secondary Banner                -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Free Estimates & No Trip Charges</h2>
            <a href="tel:5873404059" class="cs-button-solid">Call Now!</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                  Modal Coupon                  -->
<!-- ============================================ -->
<div id="couponModal" class="coupon-modal" style="display: none;">
    <div class="coupon-modal-content">
        <div class="coupon-modal-header">
            <span class="coupon-modal-close-button">×</span>
            <h2 class="cs-title">Thank you for using our coupons</h2>
        </div>
        <div class="coupon-modal-body">
            <div id="coupons"></div>
        </div>
    </div>
</div>


                                

{% include "components/cta.html" %}
                                
{% endblock %}
