---
title: "Gasfitting | KMS Pumbling"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'services/gasfitting/'
eleventyNavigation:
    key: 'Gasfitting'
    order: '3200'
    parent: 'Services'
---

{% block head %}
    <link rel="stylesheet" href="{{ client.domain }}/assets/css/services.css">

{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Gasfitting</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/services/gasfitting/" class="cs-link cs-active">Gasfitting</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div> 

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-218">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Committed to Safety and Reliable Service</span>
            <h2 class="cs-title">Gasfitting Services</h2>
            <p class="cs-text">
                We provide expert gasfitting services, ensuring safe and efficient installation, maintenance, and repairs for residential and commercial properties.
            </p>
            <a href="/contact.html" class="cs-button-solid">Get Free Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Gas Line Installation</h3>
                <p class="cs-item-text">
                    Safe and efficient gas line setup for your home or business.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Garage Heaters</h3>
                <p class="cs-item-text">
                    Installation and maintenance of garage heating systems to keep your space warm and functional.
                </p>
            </li>
           
        </ul>
        <!-- Floating Watermark -->
        <img class="cs-watermark" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/svg-graphic.svg" alt="icon" width="77" height="77">
    </div>
</section>
                                
          
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Some Work from Our Memorable Gallery</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery1.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery1.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery2.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery2.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery3.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery3.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery4.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery4.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery5.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery5.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery6.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery6.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery7.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery7.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery8.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery8.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery8.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<div class="cs-content">
    <span class="cs-topper">Affordable Pricing</span>
    <h2 class="cs-title">Financing Available for Plumbing & Heating Installation Projects</h2>
    <p class="cs-text">We've partnered with Financeit to offer flexible payment plans for your plumbing and heating needs. Spread costs over time with a simple application process and manageable monthly payments.</p>
    <ul class="cs-text">
        <li><strong>1. Apply</strong> – Complete the application form and receive a credit decision instantly.</li>
        <li><strong>2. Make Your Purchase</strong> – Confirm purchase details and submit required documents.</li>
        <li><strong>3. Pay It Off</strong> – Automatic monthly payments make it easy to stay on track.</li>
    </ul>
    <p class="cs-text">Upgrade your systems or handle urgent repairs without the burden of upfront expenses.</p>
    <a class="cs-button-solid" aria-label="Learn more" href="https://www.financeit.ca/en/direct/payment-plan/YT0yNjE5MzgmbD0mcD1JMlZlYnJjaDRaRUFvbUd6bkgtUDJnJnM9MCZ2PTE=/apply?slug=WjM1yQ" target="_blank">Learn More</a>
</div>
</div>
<!--Tire Screech-->
</section>

                                

{% include "components/cta.html" %}
{% include "components/sticky-button.html" %}
                                
{% endblock %}