---
title: "Plumbing | KMS Pumbling"
description: "KMS Plumbing offers expert plumbing and heating services, including installations, repairs, and home renovations. Quality service you can trust!"
permalink: 'services/Plumbing/'
eleventyNavigation:
    key: 'Plumbing'
    order: '3100'
    parent: 'Services'
---

{% block head %}
    <link rel="stylesheet" href="{{ client.domain }}/assets/css/services.css">

{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Plumbing Services</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/services/plumbing/" class="cs-link cs-active">Plumbing</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div> 

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">SAVE $75 on any plumbing service!</h2>
            <a href="/coupons/" target="_blank" class="cs-button-solid" style="white-space: nowrap;">Get Coupons now!</a>
    </div>
</section>


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-218">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reliable Service You Can Trust</span>
            <h2 class="cs-title">Plumbing Services</h2>
            <p class="cs-text">
                We offer expert plumbing services, from repairs to installations. Whether it’s a quick fix or regular maintenance, we ensure the job is done right the first time.
            </p>
            <a href="/contact.html" class="cs-button-solid">Get Free Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Service Repairs</h3>
                <p class="cs-item-text">
                    Expert plumbing repairs to restore functionality.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Fixture Installations: </h3>
                <p class="cs-item-text">
                    Professional installation of sinks, faucets, and more.
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Renovations</h3>
                <p class="cs-item-text">
                    Tailored plumbing solutions for renovations.
                </p>
            </li>
        </ul>
        <!-- Floating Watermark -->
        <img class="cs-watermark" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/svg-graphic.svg" alt="icon" width="77" height="77">
    </div>
</section>
                                
          
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->
n

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Our Expertise in Plumbing & Gasfitting</h2>
            <p class="cs-text">
                Explore some of our past projects that highlight our commitment to quality workmanship, attention to detail, and customer satisfaction. Let us handle your plumbing and gasfitting needs so you can focus on what matters most.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery1.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery1.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery2.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery2.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery3.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery3.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery4.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery4.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery5.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery5.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery6.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery6.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery7.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery7.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery8.jpg">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery8.jpg">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery8.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
 
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Financing Available! Get plumbing, heating, and home renovation projects with flexible payment options.
            </h2>
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNjE5MzgmbD0mcD1JMlZlYnJjaDRaRUFvbUd6bkgtUDJnJnM9MCZ2PTE=/apply?slug=WjM1yQ" target="_blank" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>
             
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Free Estimates & No Tripping Charges | Financing Available!</h2>
            <a href="tel:5873404059" class="cs-button-solid">Call Now!</a>
        </div>
    </div>
</section>


{% include "components/cta.html" %}
{% include "components/sticky-button.html" %}
                                
{% endblock %}