---
title: "Portfolio | KMS Pumbling"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'portfolio/'
eleventyNavigation:
    key: 'Portfolio'
    order: '400'
---

{% block head %}
<link rel="stylesheet" href="{{ client.domain }}/assets/css/portfolio.css">

<!--          Blaze Assets        -->
<link rel="stylesheet" href="{{ client.domain }}/assets/css/blaze.css">
<script src="{{ client.domain }}/assets/js/blaze-slider.dev.js"></script>
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Portfolio</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/portfolio/" class="cs-link cs-active">Portfolio</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568"
            aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Showcasing Our Expertise in Plumbing & Gasfitting</h2>
            <p class="cs-text">
                At KMS Plumbing & Gasfitting, we take pride in delivering reliable solutions for residential and
                commercial properties. Explore some of our past projects that highlight our commitment to quality
                workmanship, attention to detail, and customer satisfaction. Let us handle your plumbing and gasfitting
                needs so you can focus on what matters most.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/banner_image.jpg" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/2-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/2-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/2-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/3-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/3-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/3-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/4-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/4-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/4-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/5-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/5-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/5-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/6-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/6-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/6-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/7-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/7-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/7-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="assets/images/8-gallery.webp">
                <source media="(min-width: 601px)" srcset="assets/images/8-gallery.webp">
                <img loading="lazy" decoding="async" src="assets/images/8-gallery.webp" alt="gallery" width="305"
                    height="400">
            </picture>
        </div>
    </div>
</section>

<section id="reviews-1833">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Members Testimonials</h2>
        </div>
        <div class="blaze-slider">
            <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”We worked with Jack at KMS when we had our basement contracted. He did all the
                                        plumbing for our basement bathroom. He provides high quality work and very
                                        pleasant to work with. When we had an issue, he came out same day and kept in
                                        contact with me to ensure it got completed. He even followed up to ensure all
                                        was working well. I would hire again.”
                                    </p>
                                    <span class="cs-name">Miles McMillan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”Jack installed a new faucet and some upgraded sink components for us; the
                                        service and workmanship were fantastic. He was very thorough in assessing our
                                        needs/expectations prior to the job; the customer service was excellent
                                        throughout our experience. I highly recommend KMS Plumbing.”
                                    </p>
                                    <span class="cs-name">Dave O.</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”I just had my hot water tank replacement completed by Jack Kumar of KMS
                                        Plumbing & Gas fitting. Prior to this job, Jack had replaced a toilet for us and
                                        completed a hot water tank replacement for a senior friend of ours. As usual,
                                        Jack is on time and professional. His workmanship is great. Housekeeping is
                                        excellent. Pricing is reasonable. Thanks for your service Jack.”
                                    </p>
                                    <span class="cs-name">Alex Chan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blaze-nav">
                    <div class="blaze-pagination"></div>
                </div>
            </div>
        </div>
        <!--Slider Initialization Script-->
        <script>
            const el = document.querySelector('.blaze-slider')
            new BlazeSlider(el)
        </script>
        <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank">See More Reviews</a>
    </div>
    <!--Texture Graphic-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
        <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture"
            width="1920" height="600">
    </picture>
</section>

{% include "components/cta.html" %}


{% endblock %}