---
title: "Services | KMS Pumbling"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'services/'
eleventyNavigation:
    key: Services
    order: 300
---

{% block head %}
    <link rel="stylesheet" href="{{ client.domain }}/assets/css/services.css">

<!--          Blaze Assets        -->
<link rel="stylesheet" href="{{ client.domain }}/assets/css/blaze.css">
<script src="{{ client.domain }}/assets/js/blaze-slider.dev.js"></script>
{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106-1112">
    <div class="cs-container">
        <span class="cs-int-title">Services</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/services/" class="cs-link cs-active">Services</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner_image.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner_image.jpg">
        <img decoding="async" src="/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
    </picture>
</div> 

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-218">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Plumbing done right</span>
            <h2 class="cs-title">Dedicated To Excellence And Service</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa ut sed odio cursus. Malesuada scelerisque eget eu, sollicitudin tellus nibh aenean enim sed. Ut vitae eget commodo consectetur felis augue.
            </p>
            <a href="/contact.html" class="cs-button-solid">Get Free Quote</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Bathroom Services</h3>
                <p class="cs-item-text">
                    <ul>
                        <li>Renovations, remodelling, and additions</li>
                        <li>Custom showers</li>
                        <li>Installation & repair of faucets, sinks, toilets, showers, and bathtubs</li>
                    </ul>
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Kitchen Services</h3>
                <p class="cs-item-text">
                    <ul>
                        <li>Remodelling projects</li>
                        <li>Installation & repair of faucets and sinks</li>
                        <li>InSinkErator installation and repair</li>
                    </ul>
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Hot Water & Heating Solutions</h3>
                <p class="cs-item-text">
                    <ul>
                        <li>Hot water tank maintenance, installation, and repair</li>
                        <li>Tankless water systems (rebates available)</li>
                        <li>Hydronic heating and in-floor heating</li>
                    </ul>
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Plumbing & Drains</h3>
                <p class="cs-item-text">
                    <ul>
                        <li>Drain clogs and cleaning</li>
                        <li>Leak repairs</li>
                        <li>Hose bib installation and repair</li>
                        <li>Damaged sewer repair</li>
                        <li>Backwater valve installation (rebates available)</li>
                        <li>Water line installation and repair</li>
                    </ul>
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Construction & Renovation</h3>
                <p class="cs-item-text">
                    <ul>
                        <li>New construction plumbing and gasfitting</li>
                        <li>Basement developments and groundworks/rough-ins</li>
                        <li>Laundry room additions</li>
                    </ul>
                </p>
            </li>
            <li class="cs-item">
                <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fpipes.svg" alt="icon" width="77" height="77">
                <h3 class="cs-h3">Gas Line & Specialized Systems</h3>
                <p class="cs-item-text">
                    <ul>
                        <li>Gas line installation and repair</li>
                        <li>Sump pump installation and repair</li>
                        <li>Water softeners and purification systems</li>
                    </ul>
                </p>
            </li></li>
        </ul>
        <!-- Floating Watermark -->
        <img class="cs-watermark" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Services/svg-graphic.svg" alt="icon" width="77" height="77">
    </div>
</section>
                                
          
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->
/7
                  

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-378">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Some Work from Our Memorable Gallery</h2>
            <p class="cs-text">
                At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
            </p>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/gallery/gallery1">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/gallery/gallery1">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/gallery/gallery1" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery4.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 5-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery5.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 6-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery6.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 7-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery7.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery7.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery7.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 8-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery8.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery8.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Gallery/gallery8.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>

<section id="reviews-1833">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Members Testimonials</h2>
        </div>
        <div class="blaze-slider">
            <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”We worked with Jack at KMS when we had our basement contracted. He did all the
                                        plumbing for our basement bathroom. He provides high quality work and very
                                        pleasant to work with. When we had an issue, he came out same day and kept in
                                        contact with me to ensure it got completed. He even followed up to ensure all
                                        was working well. I would hire again.”
                                    </p>
                                    <span class="cs-name">Miles McMillan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”Jack installed a new faucet and some upgraded sink components for us; the
                                        service and workmanship were fantastic. He was very thorough in assessing our
                                        needs/expectations prior to the job; the customer service was excellent
                                        throughout our experience. I highly recommend KMS Plumbing.”
                                    </p>
                                    <span class="cs-name">Dave O.</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”I just had my hot water tank replacement completed by Jack Kumar of KMS
                                        Plumbing & Gas fitting. Prior to this job, Jack had replaced a toilet for us and
                                        completed a hot water tank replacement for a senior friend of ours. As usual,
                                        Jack is on time and professional. His workmanship is great. Housekeeping is
                                        excellent. Pricing is reasonable. Thanks for your service Jack.”
                                    </p>
                                    <span class="cs-name">Alex Chan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blaze-nav">
                    <div class="blaze-pagination"></div>
                </div>
            </div>
        </div>
        <!--Slider Initialization Script-->
        <script>
            const el = document.querySelector('.blaze-slider')
            new BlazeSlider(el)
        </script>
        <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank">See More Reviews</a>
    </div>
    <!--Texture Graphic-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
        <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture"
            width="1920" height="600">
    </picture>
</section>
                                

{% include "components/cta.html" %}

                                
{% endblock %}