---
title: "Terms Of Service | KMS Plumbing & Gasfitting"
description: "The main branch of the advanced starter kit. Contains a basic 11ty setup for clients not needing much
additional functionality. Similar to our Intermediate Kits."
permalink: 'terms-of-service/'
eleventyNavigation:

---

{% block head %}

{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106-1112">
        <div class="cs-container">
            <span class="cs-int-title">Terms of Service</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Home</a>
                <a href="/terms-of-service/" class="cs-link cs-active">Terms of Service</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/banner_image.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/banner_image.jpg">
            <img decoding="async" src="{{ client.domain }}/assets/images/banner_image.jpg" alt="mechanic" width="1280" height="568" aria-hidden="true">
        </picture>
    </div> 

    <!-- ============================================ -->
    <!--                  Content                     -->
    <!-- ============================================ -->

    <section id="content-1450">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper"></span>
                <h2 class="cs-title">Terms of Service</h2>
                <p class="cs-text">
                    <i>Effective February 2025 </i> 
                    Welcome to KMS Plumbing & Gasfitting Website. By accessing our website and
                using our services, you agree to the following Terms of Service (&quot;Terms&quot;). If you do not
                agree to these Terms, please do not use our website or services.
                </p>
                <p class="cs-text"><b>1. Introduction</b></p>
                <p class="cs-text">KMS Plumbing & Gasfitting (&quot;we&quot;, &quot;our&quot;, &quot;us&quot;) provides professional plumbing,
                    contracting, and renovation services in Edmonton, Alberta. These Terms govern your
                    access to and use of our website <a href="kmsplumbingyeg.com" target="_blank">kmsplumbingyeg.com</a> and services.</p>
                <p class="cs-text"><b>2. Services</b></p>
                <p class="cs-text">Our services include, but are not limited to, plumbing repairs, installations, renovations, and general contracting. Service availability may vary based on location and project scope. For specific terms related to a project, a written service agreement will be provided.</p>
                <p class="cs-text"><b>3. Use of the Website</b></p>
                <ul class="cs-ul">
                    <li class="cs-li"><b>Eligibility</b>: Third-party companies that help us operate our website, conduct our business, or provide services to you, under strict confidentiality agreements.</li>
                    <li class="cs-li"><b>Prohibited Activities</b>: You may not use our website for any illegal activities, to disrupt our services, or interfere with other users.</li>
                </ul>
                <p class="cs-text"><b>4. Estimates and Payments</b></p>
                <p class="cs-text">All service estimates provided through the website or via email are non-binding until confirmed by a signed contract. Payments are required as per the terms of the service agreement.</p>
                <p class="cs-text"><b>5. Intellectual Property</b></p>
                <ul class="cs-ul">
                    <li class="cs-li"><b>Ownership of Website Design and Content</b>: The design, layout, and content of this website are the property of Bespoke Web Design Edmonton, except for materials provided by KMS Plumbing & Gasfitting LTD.</li>
                    <li class="cs-li"><b>Client Content</b>: Any materials, such as images or descriptions, provided by Bespoke Draft remain their property. By using these materials on the website, you grant us the right to display them for the duration of your subscription.</li>
                    <li class="cs-li"><b>License to Use</b>: While subscribed to our services, you are granted a limited, non-exclusive, revocable license to use the website and its content. Upon cancellation or termination of your subscription, this license ends, and the website may be deactivated.</li>
                    <li class="cs-li"><b>Hosting and Subscription-Based Access</b>: The website is hosted and managed by Bespoke Draft Edmonton. If your subscription is canceled or terminated, the website will be taken offline, and you will lose access to the content.</li>
                </ul>
                <p class="cs-text"><b>6. Limitation of Liability</b></p>
                <p class="cs-text">We are not responsible for any direct or indirect damages resulting from the use of our website or services, including loss of data, profits, or business interruption. Our liability for any claims will be limited to the amount paid by you for the services in question.</p>
                <p class="cs-text"><b>7. Warranties and Disclaimers</b></p>
                <p class="cs-text">Our services are provided "as is" without warranties of any kind. While we aim to provide accurate and reliable information, we do not guarantee the accuracy, reliability, or completeness of any content on our website.</p>
                <p class="cs-text"><b>8. Changes to Terms</b></p>
                <p class="cs-text">We reserve the right to modify these Terms at any time. Changes will be posted on this page, and your continued use of the website or services after any changes will indicate your acceptance of the updated Terms.</p>
                <p class="cs-text"><b>9. Governing Law</b></p>
                <p class="cs-text">These Terms will be governed by and interpreted in accordance with the laws of Alberta, Canada.</p>
                <p class="cs-text"><b>10. Contact Us</b></p>
                <p class="cs-text">If you have any questions or concerns about this Terms of Use, please contact us at:</p>
                <p class="cs-text"><b>KMS Plumbing & Gasfitting LTD.</b><br></p>
                <p class="cs-text"><a href="mailto:info@bespokewebdesign.ca">info@kmsplumbingyeg.com</a></p>
            </div>
        </div>
    </section>



{% include "components/cta.html" %}
                                
{% endblock %}
