@media screen and (min-width: 0) {
  section.css-no93ty-StyledAuthenticationPage.exus10f5 .exus10f2.css-15mesr9-IconWrapper-NetlifyCreditIcon.e1jeq5dr1 {
    display: none !important;
  }
  section.css-no93ty-StyledAuthenticationPage.exus10f5 .css-u6jh90-CustomIconWrapper.exus10f4 {
    width: auto;
  }
  section.css-no93ty-StyledAuthenticationPage.exus10f5 .css-u6jh90-CustomIconWrapper.exus10f4 img {
    filter: drop-shadow(2px 4px 6px black);
    width: clamp(300px, 35vw, 500px);
    border-radius: 12px;
  }
}
