/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1014 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-quote {
            margin: 0 0 (32/16rem) 0;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            background-color: #1a1a1a;
            position: relative;
        }

        .cs-quote-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 (16/16rem);
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-name {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 0 (4/16rem);
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-job {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-quote-icon {
            /* 60px - 136px */
            width: clamp(3.75rem, 10vw, 8.5rem);
            height: auto;
            position: absolute;
            bottom: (0/16rem);
            /* 16px - 32px */
            right: clamp(1rem, 4vw, 2rem);
        }

        .cs-image-group {
            /* scaling the font size with the view width */
            font-size: ~"min(2.31vw, .7em)";
            /* using ems so we can use font size to scale the whole section */
            width: (631/16em);
            height: (636/16em);
            position: relative;
        }

        .cs-picture {
            position: absolute;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes image act like a background image */
                object-fit: cover;
            }
        }

        .cs-picture1 {
            width: (522/16em);
            height: (581/16em);
            left: 0;
            top: 0;
        }

        .cs-picture2 {
            width: (414/16em);
            height: (400/16em);
            background-color: #fff;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
            /* 6px - 12px */
            border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
            right: 0;
            bottom: 0;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1014 {
        .cs-container {
            flex-flow: row;
            justify-content: space-between;
            gap: (52/16rem);
        }

        .cs-image-group {
            font-size: ~"min(1.2vw, 1em)";
            flex: none;
        }

        .cs-content {
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1014 {
            background-color: rgba(0, 0, 0, 0.2);
            .cs-image-group {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-quote-text,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                background-color: rgba(0, 0, 0, 0.6);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}
                         


@media only screen and (min-width: 0rem) {
    .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: (650/16rem);
        margin: 0;
        color: var(--bodyTextColor);
    }

    .cs-button-solid {
        font-size: (16/16rem);
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: (150/16rem);
        padding: 0 (24/16rem);
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 0%;
            background: #000;
            opacity: 1;
            top: 0;
            left: 0;
            z-index: -1;
            transition: width 0.3s;
        }

        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}                         


/*-- -------------------------- -->
<!--            Team            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-2071 {
        /* 240px - 480px top */
        /* 60px - 100px bottom */
        /* 16px left & right */
        padding: clamp(15rem, 30vw, 30rem) (16/16rem) clamp(3.75rem, 7.82vw, 6.25rem) (16/16rem);
        background-color: #FAF6F2;
        overflow: hidden;
        position: relative;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 3.06%, #FFF 20.29%);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            text-align: center;
            width: 100%;
            max-width: (944/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-text {
            max-width: none;
        }

        .cs-card-group {
            width: 100%;
            max-width: (1280/16rem);
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (40/16rem);
            position: relative;
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            grid-column: span 12;
            gap: (16/16rem);
        }

        .cs-name {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (4/16rem);
        }

        .cs-job {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-department {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-background {
            width: 100%;
            height: clamp(20%, 80vw, 100%);
            min-height: (420/16rem);
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                opacity: .6;
                /* makes image act as a background image */
                object-fit: cover;
                object-position: bottom;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-2071 {
        &:before {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 19.7%, #FFF 45.39%);
        }

        .cs-card-group {
            gap: (40/16rem) (80/16rem);
        }

        .cs-item {
            text-align: left;
            align-items: flex-start;
            grid-column: span 6;
        }

        .cs-flex {
            align-items: flex-start;
        }
    } 
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #meet-team-2071 {
        &:before {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 19.7%, rgba(255, 255, 255, 0.92) 59.51%);
        }

        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #meet-team-2071 {
        .cs-item {
            grid-column: span 3;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-2071 {
            &:before {
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 19.7%, var(--dark) 59.51%);
            }

            .cs-title, .cs-text, .cs-name, .cs-job, .cs-department {
                color: var(--bodyTextColorWhite);
            }

            .cs-text, .cs-department {
                opacity: 0.8;
            }
        }
    }
}
                                