---
title: "KMS Pumbling"
description: "KMS Plumbing & Gasfitting – Providing efficient, reliable plumbing, heating, and gas services with 15+ years of experience. Trusted solutions for homes and businesses in Edmonton."
permalink: '/'
eleventyNavigation:
    key: 'Home'
    order: '100'
---

{% block head %}
<link rel="stylesheet" href="/assets/css/home.css">

<!--          Blaze Assets        -->
<link rel="stylesheet" href="assets/css/blaze.css">
<script src="assets/js/blaze-slider.dev.js"></script>


{% endblock %}

{% extends 'layouts/base.html' %}

{% block body %}


<section class="canada-banner">
    <div class="cs-container">
        <img class="cs-img" decoding="async" src="/assets/images/canadian-flag.svg" width=100 height=50>
        <p class="cs-text">
            Canadian Owned and Operated
        </p>
    </div>
</section>

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->


<section id="hero-227">

        
    <div class="cs-container">
        
        <div class="cs-flex-group">
            <span class="cs-topper">KMS Plumbing & Gasfitting</span>
            <h1 class="cs-title">Edmonton’s Trusted Plumbing Expert Since 2012</h1>
            <p class="cs-text">
                Red Seal Certified Plumber & Gasfitter, Providing Reliable Residential & Commercial Plumbing Solutions
            </p>
            <a href="tel:{{ client.phoneForTel }}" class="cs-button-solid">
                <img class="cs-img" decoding="async" src="{{ client.domain }}/assets/images/phone-call-white.svg" width=17 height=17>
                Call Us Now
            </a>

            <a href="/contact/" class="cs-button-transparent">
                <img class="cs-img" decoding="async" src="{{ client.domain }}/assets/images/calendar.svg"
                    alt="play icon" width="17" height="17" aria-hidden="true">
                Book Online!
            </a>
        </div>

         <!--Service Cards-->
    </div>

        <!-- Background Image -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/plumber-header.webp">
            <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/plumber-header.webp">
            <img decoding="async" src="{{ client.domain }}/assets/images/plumber-header.webp" alt="mountains"
                width="2250" height="1500" aria-hidden="true">
        </picture>
</section>

<!-- ============================================ -->
<!--                 Review Badge            -->
<!-- ============================================ -->

    <section class="review-badge">
        <!-- Logos for Google and Facebook -->
        <div class="review-logo-images">

                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/google-reviews-logo.webp" height=80>
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/google-reviews-logo.webp">
                    <img decoding="async" src="{{ client.domain }}/assets/images/google-reviews-logo.webp" alt="google logo"
                        height=80 aria-hidden="true">
                </picture>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/facebook-reviews-logo.webp" height=80>
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/facebook-reviews-logo.webp">
                    <img decoding="async" src="{{ client.domain }}/assets/images/facebook-reviews-logo.webp" alt="facebook logo"
                        height=80 aria-hidden="true">
                </picture>
        </div>
        
        <!-- Review Rating Section -->
        <h4 class="cs-title">Highly rated and strongly recommended on Google Reviews!</h4>

        <!-- Button to View All Reviews -->
        <a href="{{client.google_review}}" class="cs-button-solid" target=”_blank”>View All Reviews</a>
    </section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">SAVE $75 on any plumbing service!</h2>
            <a href="/coupons/" target="_blank" class="cs-button-solid" style="white-space: nowrap;">Get Coupons now!</a>
    </div>
</section>


<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1644">
    <div class="cs-container">
        <div id="cs-content-829">
            <div class="cs-flex">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">Our Expert Plumbing Services</h2>
            </div>
            <p class="cs-text">
                At KMS Plumbing & Gasfitting, we offer a comprehensive range of plumbing solutions tailored to meet the
                unique needs of Edmonton and nearby residents.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/hot-water-solutions.webp" alt="icon" width="48"
                        height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Plumbing</h2>
                    <p><span style="color: orange; font-weight: bold;">✔</span> <strong>Service Repairs:</strong> Expert plumbing repairs to restore functionality.</p>
                    <p><span style="color: orange; font-weight: bold;">✔</span> <strong>Fixture Installations:</strong> Professional installation of sinks, faucets, and more.</p>
                    <p><span style="color: orange; font-weight: bold;">✔</span> <strong>Renovations:</strong> Tailored plumbing solutions for renovations.</p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/pumbling-repairs.webp" alt="icon" width="48" height="48"
                        aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Gasfitting</h2>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                            height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Gas Line Installation</b>: Safe and efficient gas line setup.
                        </p>
                    </div>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                                src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                                height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Garage Heaters</b>: Installation and maintenance of garage heating systems.
                        </p>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/drain-cleaning-and-maintenance.webp" alt="icon"
                        width="48" height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Drain Cleaning</h2>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                        height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Unclogging</b>: Fast, effective drain clearing.
                        </p>
                    </div>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                        height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Drain Cleaning & Repair</b>: Comprehensive cleaning and repairs.
                        </p>
                    </div>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                        height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Sewer Services</b>: Sewer line cleaning, inspection, and repair.
                        </p>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/fixture-installation.webp" alt="icon" width="48"
                        height="48" aria-hidden="true">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Hot Water Solutions</h2>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                        height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Tankless Water Heaters</b>: Efficient, space-saving tankless heater installation.
                        </p>
                    </div>
                    <div class="service-checkbox">
                        <img loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/check-mark.webp" alt="icon" width="17"
                        height="17" aria-hidden="true">
                        <p class="cs-item-text">
                            <b>Hot Water Tank Services</b>: Installation, maintenance, and repairs for hot water tanks.
                        </p>
                    </div>
                    
                </div>
            </li>
        </ul>
        <a href="tel:5873404059" class="cs-button-solid">Call Now for Quote</a>
    </div>
</section>

<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
 
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Get plumbing, heating, and home renovation projects with flexible payment options.
            </h2>
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNjE5MzgmbD0mcD1JMlZlYnJjaDRaRUFvbUd6bkgtUDJnJnM9MCZ2PTE=/apply?slug=WjM1yQ" target="_blank" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="sbs-1067" class="cs-page-break">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/about_leftimage.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/about_leftimage.webp">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/about_leftimage.webp" alt="about us 1" width="364" height="375">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/about_rightimage.webp">
                <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/about_rightimage.webp">
                <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/about_rightimage.webp" alt="about us 2" width="388" height="388">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">We Guarantee</span>
            <h2 class="cs-title">Why Edmonton chooses KMS?</h2>
            <p class="cs-text">We are committed to deliver quality workmanship & unparalleled customer service. We believing in educating our clients when it comes to maintaining their homes plumbing systems so that they can prolong the efficiency and effectiveness of their home’s plumbing.</p>
            <ul class="cs-list">
                <li class="cs-li">
                    <picture>
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/images/hassle-free.png" alt="hassle free" width="100"
                            height="100">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Transparency</h3>
                        <p class="cs-li-text">
                            No Hidden Fees, No Travel Charges, No Extra Charges. Clear and upfront pricing.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture>
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/images/bill-magnifying.png" alt="bill magnifying" width="100"
                            height="100">
                    </picture>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Free Estimates</h3>
                        <p class="cs-li-text">
                            Get free on-site estimates with no obligation.
                        </p>
                    </div>
                </li>
                <li class="cs-li">
                    <picture>
                        <img class="cs-icon" loading="lazy" decoding="async"
                            src="{{ client.domain }}/assets/images/warranty.png" alt="warranty" width="100" height="100">
                    </picture>
                    <div class="cs-flex">
                      <h3 class="cs-h3">Fully Qualified & Insured</h3>
                      <p class="cs-li-text">
                        Work performed by a Red Seal Certified Plumber & Gasfitter with over 15 years of experience. Expect the utmost care and attention from start to finish.
                      </p>
                  </div>
              </li>
              <li class="cs-li">
                <picture>
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="{{ client.domain }}/assets/images/clipboard-check.png" alt="clipboard-check" width="100" height="100">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Quality Guarantee</h3>
                    <p class="cs-li-text">
                        KMS Plumbing and Gasfitting is committed to top-tier workmanship and exceptional customer service.
                    </p>
                </div>
            </li>
            </ul>
        </div>
    </div>
  </section>

  <!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Senior & Military Discount: $100 Off Plumbing Service! </h2>
            <a href="/coupons/" target="_blank" class="cs-button-solid" style="white-space: nowrap;">Get Coupons now!</a>
    </div>
</section>


<!-- ============================================ -->
<!--                   Steps                      -->
<!-- ============================================ -->

<section id="steps-1172">
    <div class="cs-container">
        <div class="cs-content">
            <div class="content-left">
                <span class="cs-topper">Affordable Pricing</span>
                <h2 class="cs-title">Financing Available for Plumbing & Heating Installation Projects</h2>
                <p class="cs-text">
                    We've partnered with Financeit to offer flexible payment plans for your plumbing and heating needs. Spread costs over time with a simple application process and manageable monthly payments.
                </p>
            </div>
            <div>
                <picture class="cs-picture finance-banner">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/financeit-banner.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/financeit-banner.webp">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/financeit-banner.webp" alt="financeit banner" width="516" height="98" id="financeit-banner">
                </picture>
            </div>
        </div>
        </ul>
</section>
<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->
 
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Flexible Payment Plans Available. Click to learn more!
            </h2>
            <a href="https://www.financeit.ca/en/direct/payment-plan/YT0yNjE5MzgmbD0mcD1JMlZlYnJjaDRaRUFvbUd6bkgtUDJnJnM9MCZ2PTE=/apply?slug=WjM1yQ" target="_blank" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                     FAQ                      -->
<!-- ============================================ -->

<section id="faq-351">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Frequently Asked Questions</span>
            <h2 class="cs-title">You have Questions? We have Answers!</h2>
        </div>
        <ul class="cs-faq-group">
            <!-- Active class added as default -->
            <li class="cs-faq-item active">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Do you provide any warranties on your services?
                    </span>
                </button>
                <p class="cs-item-p">
                    Yes, all our services come with a 1-year service warranty.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Are there any hidden fees or travel charges?
                    </span>
                </button>
                <p class="cs-item-p">
                    No, we offer free estimates with no travel or hidden fees.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        What payment methods do you accept?
                    </span>
                </button>
                <p class="cs-item-p">
                    We accept debit, credit, and offer flexible financing options.
                </p>
            </li>
        </ul>
        <!--Added second UL, this allows you to open an FAQ item on each side without messing up the flexbox for the other -->
        <ul class="cs-faq-group">
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        Who performs the work?
                    </span>
                </button>
                <p class="cs-item-p">
                    All work is completed by a Red Seal Certified plumber & gasfitter with over 15 years of experience.
                </p>
            </li>
            <li class="cs-faq-item">
                <button class="cs-button">
                    <span class="cs-button-text">
                        How do I schedule a service?
                    </span>
                </button>
                <p class="cs-item-p">
                    You can book online or call us. We’ll schedule a free on-site estimate at your convenience and
                    notify you 30 minutes before arrival. After assessing the issue, we provide an upfront written
                    estimate. If you accept, we’ll schedule the repair or installation and ensure your home is left as
                    it was. A follow-up will occur one week after the service to ensure satisfaction.
                </p>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1833">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Members Testimonials</h2>
        </div>
        <div class="blaze-slider">
            <div class="blaze-container">
                <div class="blaze-track-container">
                    <div class="blaze-track">
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”We worked with Jack at KMS when we had our basement contracted. He did all the
                                        plumbing for our basement bathroom. He provides high quality work and very
                                        pleasant to work with. When we had an issue, he came out same day and kept in
                                        contact with me to ensure it got completed. He even followed up to ensure all
                                        was working well. I would hire again.”
                                    </p>
                                    <span class="cs-name">Miles McMillan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”Jack installed a new faucet and some upgraded sink components for us; the
                                        service and workmanship were fantastic. He was very thorough in assessing our
                                        needs/expectations prior to the job; the customer service was excellent
                                        throughout our experience. I highly recommend KMS Plumbing.”
                                    </p>
                                    <span class="cs-name">Dave O.</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                        <div class="blaze-slide">
                            <div class="cs-flex-group">
                                <div class="cs-review-group">
                                    <!--Stars-->
                                    <img class="cs-stars" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                    <p class="cs-review-text">
                                        ”I just had my hot water tank replacement completed by Jack Kumar of KMS
                                        Plumbing & Gas fitting. Prior to this job, Jack had replaced a toilet for us and
                                        completed a hot water tank replacement for a senior friend of ours. As usual,
                                        Jack is on time and professional. His workmanship is great. Housekeeping is
                                        excellent. Pricing is reasonable. Thanks for your service Jack.”
                                    </p>
                                    <span class="cs-name">Alex Chan</span>
                                    <img src="{{ client.domain }}/assets/images/google-review-icon.webp" height=50 />
                                    <!--Quote-->
                                    <img class="cs-quote" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-quotes.svg"
                                        alt="quotes" width="97" height="80" aria-hidden="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blaze-nav">
                    <div class="blaze-pagination"></div>
                </div>
            </div>
        </div>
        <!--Slider Initialization Script-->
        <script>
            const el = document.querySelector('.blaze-slider')
            new BlazeSlider(el)
        </script>
        <a href="{{ client.google_review }}" class="cs-button-solid" target="_blank">See More Reviews</a>
    </div>
    <!--Texture Graphic-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 1023px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture-m.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 1024px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png">
        <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dotted-texture.png" alt="dotted texture"
            width="1920" height="600">
    </picture>
</section>

<!-- ============================================ -->
<!--              Secondary Banner                -->
<!-- ============================================ -->
<section id="secondary-banner">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Free Estimates & No Tripping Charges</h2>
            <a href="tel:5873404059" class="cs-button-solid">Call Now!</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   KMS Badges                 -->
<!-- ============================================ -->

<section id="gallery-45">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Experience the KMS Difference</span>
            <h2 class="cs-h3">Association & Memberships</h2>
        </div>
        <div class="trust-signals">
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/red-seal-certified.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/red-seal-certified.png" alt="red-seal-certified"
                         height="79">
                </picture>
                <p class="cs-text">Red Seal Certified Plumber & Gasfitter</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/fully-insured.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/fully-insured.png" alt="fully-insured"
                         height="79">
                </picture>
                <p class="cs-text">Fully Insured</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/service-warranty.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/service-warranty.png" alt="service-warranty"
                         height="79">
                </picture>
                <p class="cs-text">1 Year Service Warranty</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/edmonton-chamber-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/edmonton-chamber-logo.png" alt="edmonton-chamber-logo"
                         height="79">
                </picture>
                <p class="cs-text">Edmonton Chamber of Commerce Certification</p>
            </div>
            <div class="trust-signals-contents">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <source media="(min-width: 601px)" srcset="{{ client.domain }}/assets/images/mcaa-logo.png">
                    <img loading="lazy" decoding="async" src="{{ client.domain }}/assets/images/mcaa-logo.png" alt="mcaa-logo"
                         height="79">
                </picture>
                <p class="cs-text">Mechanical Contractors Association of Alberta</p>
            </div>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                    Blog                      -->
<!-- ============================================ -->

<section id="blog-1701">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)"
            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg">
        <img loading="lazy" decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting-women.jpeg"
            alt="busines meeting" width="522" height="609" aria-hidden="true">
    </picture>
    <div class="cs-container">
        <div class="cs-news">
            <div class="cs-content">
                <span class="cs-topper">Our Blog</span>
                <h2 class="cs-title">Latest News</h2>
            </div>
            <div class="cs-card-group">
                <div class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-one.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-one.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-one.png"
                            alt="volunteers" width="630" height="601" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">KMS Plumbing & Gasfitting Unveils Its Updated Website!
                        </h3>
                        <p class="cs-desc">
                            We are excited to announce the launch of our newly updated website! Designed to better
                            showcase our brand and services, our website now offers an improved user experience and
                            highlights everything we do to serve our customers.
                        </p>
                        <a href="/blog/kms-plumbing-and-gasfitting-unveils-its-updated-website!/" class="cs-link">
                            <span class="cs-link-text">Read Article</span>
                            <img class="cs-arrow" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                                alt="icon" width="20" height="20" aria-hidden="true" />
                        </a>
                    </div>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-two.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-two.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-two.png"
                            alt="volunteers" width="630" height="601" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            5 Things to Know Before Hiring a Plumber?
                        </h3>
                        <p class="cs-desc">
                            Hiring a plumber can feel overwhelming if you don’t know what to look for. In this blog,
                            we’ll share 5 essential things to consider before choosing a plumber, including
                            certifications, experience, pricing transparency, and more. Make an informed decision and
                            ensure your plumbing needs are in the hands of a trusted professional!
                        </p>
                        <a href="/blog/5-things-to-know-before-hiring-a-plumber/" class="cs-link">
                            <span class="cs-link-text">Read Article</span>
                            <img class="cs-arrow" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                                alt="icon" width="20" height="20" aria-hidden="true" />
                        </a>
                    </div>
                </div>
                <div class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-three.png">
                        <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-three.png">
                        <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/enterprise-news-three.png"
                            alt="volunteers" width="630" height="601" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">5 Most Common Plumbing Issues
                        </h3>
                        <p class="cs-desc">
                            Plumbing problems can disrupt your daily routine and cause unnecessary stress. In this blog,
                            we’ll explore the 5 most common plumbing issues homeowners face, how to identify them early,
                            and tips to prevent costly repairs. From leaky faucets to clogged drains, we’ve got you
                            covered!
                        </p>
                        <a href="/blog/5-most-common-plumbing-issues-and-how-to-fix-them/" class="cs-link">
                            <span class="cs-link-text">Read Article</span>
                            <img class="cs-arrow" loading="lazy" decoding="async"
                                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-arrow-right.svg"
                                alt="icon" width="20" height="20" aria-hidden="true" />
                        </a>
                    </div>
                </div>
            </div>
            <a href="/blog/" class="cs-button-solid">Check our Blog Articles</a>
        </div>
    </div>
</section>

{% include "components/cta.html" %}


{% endblock %}
